/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #27272a;
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.blur {
  backdrop-filter: blur(3px);
}

.border-bg-seperator {
  border-color: rgba(255, 255, 255, 0.08);
}

/*
  Scrollbar
*/

/* width */
::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #299ae0;
  border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #299ae0;
}
